!!! 5
html
  head
    title= title
    script(type='text/javascript', src='/javascripts/extern/jquery.min.js')
    script(type='text/javascript', src='/javascripts/extern/underscore-min.js')
    script(type='text/javascript', src='/javascripts/extern/backbone.js')
    script(type='text/javascript', src="/socket.io/socket.io.js")

    script(type='text/javascript', src="/javascripts/pubsub.js")
    script(type='text/javascript', src="/javascripts/math.js")
    script(type='text/javascript', src="/javascripts/build/input.js")
    script(type='text/javascript', src="/javascripts/collide.js")
    script(type='text/javascript', src="/javascripts/render.js")
    script(type='text/javascript', src="/javascripts/build/entity.js")
    script(type='text/javascript', src="/javascripts/build/simulation.js")
    script(type='text/javascript', src="/javascripts/client.js")

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      | n&bull;fold
    .main
      .main_content
        section
          canvas(width='800', height='600')
        section
          form#chat
            input(name='say_what', type='text')
      .sub_content
        span.client_id
        span.score
        p
          form#set_name
            input(name='player_name', type='text', value='player')
            input(type='submit', value='set name')
        section.debug
          ul
            li
              input.debug#debug_quadtrees(name='debug_quadtrees', value='quadtrees', type='checkbox')
              label(for='debug_quadtrees') quadtrees
            li
              input.debug#debug_collisions(name='debug_collisions', value='collisions', type='checkbox')
              label(for='debug_collisions') collisions
        section.chat_messages
    footer
      pre.help
        | space        - enter game / fire
        | left/right   - rotate
        | up           - thrust
        | t            - chat
